
.adapters{
    box-shadow: 5px  5px 5px  rgba(0, 0, 0, 0.302);
   
}
.m-button-new{
    margin-left:40%;
    margin-top:10%;
}

.btn-new-pluging{
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.background-plugins{
    box-shadow: 5px  5px 5px  rgba(0, 0, 0, 0.302);
    
}
