
.adapters{
    box-shadow: 24px 24px 64px rgba(228, 228, 228, 0.96);
}

.m-button-new{
    margin-left:55%;
    margin-top:10%;
}

.btn-new-pluging{
    background: #00b4db; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00b4db, #0083b0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00b4db, #0083b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.container-orchestration{
    height: 70%;
}

.btn-primary {
    background-color: #007298 !important;
    border-color: #007298 !important;
}

.my-primary {
    color: #007298 !important;
    border-color: #007298 !important;
}
.btn-exit{
    background: #a53c3cfa;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #a53c3cfa, #a53c3cfa);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #a53c3cfa, #a53c3cfa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

